body {
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #e9f0f1;
}

.sentence {
	margin: 100px auto 0 auto;
}

.line {
	margin-bottom: 30px;
}

.result {
	display: inline-block;
	position: relative;
	display: inline-block;
	padding: 10px 20px 30px 20px;
	margin: 0 5px 10px 5px;
	color: white;
	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.3);
	height: 42px;
	min-width: 30px;
}

.result .word {
	font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', sans-serif;
	font-size: 32px;
	color: white;
}

.result .hostname {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 5px;
	font-size: 0.8em;
	height: 14px;
}

.noun {
	background-color: rgb(255, 25, 79);
	transform: rotate(1deg);
}

.verb {
	background-color: rgb(36, 175, 255);
	transform: rotate(-1deg);
}

.adjective {
	background-color: rgb(57, 77, 83);
	transform: rotate(-1deg);
}
